.task-container {
  background-color: #333;
  height: 100%;
  width: 30rem;
  padding: 1rem 2rem;
  position: relative;
  text-align: center;
  overflow-y: auto;
}

.task-container h1 {
  color: aliceblue;
  margin-bottom: 2rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.add-task_btn {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 4rem;
  background-color: #333;
  border: 2px solid #111;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.add-task_btn:hover {
  background-color: #777;
}
